body {
	margin: auto;
	padding: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 40rem;
	font-size: 1.2em;
	line-height: 1.5;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	color: #222;
	font-weight: 700;
}

h1[role="title"] {
	font-weight: 900;
}

abbr {
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 600;
	letter-spacing: 0.1em;
}