body {
	margin: auto;
	padding: 1em;
	font-family: 'PT Serif', serif;
	max-width: 960px;
	font-size: 1.3em;
}

@media only screen and (max-width: 400px) {
	body { font-size:90%;}
}

@media only screen and (max-width: 800px) {
	body { font-size:100%;}
}

@media only screen and (max-width: 1100px) {
    body { font-size:120%; }
}