fieldset, input, textarea {
	border: 0;
}

input, textarea {
	width: 100%;
}

a.homepage-link, fieldset.search {
	display: none;
}

textarea {
	height: 70vh;
	resize: none;
	overflow: auto;
}

*:focus {
	outline: 0;
}