<form class="search" method="post" action="/posts/search">
	<fieldset class="search">
		<legend>Search from posts</legend>
		<input name="query" type="search" spellcheck="false" required="required" placeholder="Q">
	</fieldset>
</form>
<section role="posts">
{{range .}}
{{if .Published}}
<article>
	<span role="shortdate">{{shortdate .Created .TimeOffset}}</span>
	<a class="title" href="/post/{{.Slug}}">{{.Title}}</a>
	<span role="align-right">{{.Viewcount}}</span>
</article>
{{end}}
{{end}}
</section>
<p>
	<span>Homebrewed with <a href="https://github.com/toldjuuso/vertigo">Vertigo</a></span>
	<span role="align-right"><a href="/user/login">User CP</a></span>
	<span role="align-right"><a href="/api">API</a></span>
</p>