{{range .}}
{{if .Published}}
<article>
	<h1><a href="/post/{{.Slug}}">{{.Title}}</a></h1>
	<p>{{unescape .Excerpt}} [...]</p>
	<a href="/post/{{.Slug}}">Read more »</a>
</article>
{{end}}
{{end}}
<hr>
<a href="/user/login">Log in</a>
<a href="/user/register">Register</a>
<hr>
<a href="/api">JSON API</a>
<hr>
<a href="/rss">RSS</a>
<hr>
<form class="search" method="post" action="/post/search">
	<fieldset class="search">
    	<legend>Search for posts</legend>
    	<input name="query" type="search" spellcheck="false" required="required" placeholder="Search ...">
	</fieldset>
</form>