{{range .}}
{{range .Posts}}
<h2><a href="/post/{{.Title}}">{{.Title}}</a></h2>
<time>{{.Date}}</time>
<p>{{unescape .Excerpt}} ... </p><a href="/post/{{.Title}}">Read more</a>
{{end}}
{{end}}
<p></p>
<hr>
<a href="/user/login">Log in</a>
<a href="/user/register">Register</a>
<hr>
<a href="/api">JSON API</a>