<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  	<link rel="stylesheet" href="/css/normalize.css">
	  	<link rel="stylesheet" href="/css/style.css">
      <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic&amp;subset=latin,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    	<title>Martini Plz</title>
  	</head>
  <body>
  	<a class="homepage-link" href="/">Home</a>
    <form method="post" action="/post/search">
        <fieldset class="search">
            <legend>Search</legend>
            <input name="query">
        </fieldset>
    </form>
    {{ yield }}
  </body>
</html>