<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/vendor/normalize.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic&amp;subset=latin,latin-ext,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ description }}">
		<title>{{title .}}</title>
	</head>
	<body>
		<header>
			<a class="homepage-link" href="/">Home</a>
		</header>
		{{ yield }}
	</body>
</html>