{{if gt (len .) 0}}
	{{range .}}
		<h1><a href="/post/{{.Slug}}">{{.Title}}</a></h1>
		<p>{{unescape .Excerpt}} [...] </p><a href="/post/{{.Slug}}">Read more</a>
	{{end}}
{{else}}
<h2>Nothing found.</h2>
{{end}}