{{if gt (len .) 0}}
<h3>Search results:</h3>
	{{range .}}
		<article>
			<span role="shortdate">{{shortdate .Created .TimeOffset}}</span>
			<a class="title" href="/post/{{.Slug}}">{{.Title}}</a>
			<span role="viewcount">{{.Viewcount}}</span>
		</article>
	{{end}}
{{else}}
<h2>Nothing found.</h2>
{{end}}