<h1>Settings</h1>
<form method="post" action="/user/settings">
	<fieldset>

		<label>Allow new registrations</label>
		<p>Below you can choose whether you'd like disable registration for new users.</p>
		<input type="radio" name="allowregistrations" value="true"{{ if eq .AllowRegistrations true }} checked{{ end }}> Allow registrations
		<br>
		<input type="radio" name="allowregistrations" value="false"{{ if eq .AllowRegistrations false }} checked{{ end }}> Deny registrations

		<br><br>

		<p>Fields with * are required.</p>		

		<label>Hostname*</label>
		<p>Used in RSS feeds and any emails that link back to your site. It should be absolute URL. Please include http:// or https:// and leave off any trailing forward slashes "/"</p>
		<input type="url" name="hostname" placeholder="http://example.com" required="required" value="{{ .Hostname }}">

		<br><br>

		<label>Blog name*</label>
		<p>Displayed on page header and browser tabs.</p>
		<input name="name" placeholder="Foo's Blog" required="required" value="{{ .Name }}">

		<br><br>

		<label>Blog description*</label>
		<p>Your beloved site's description. Used on page header, meta data and RSS feeds.</p>
		<input name="description" placeholder="Thoughts about which witch is which" required="required" value="{{ .Description }}">

		<br><br>

		<h3>SMTP settings</h3>
		<p>Vertigo can use SMTP to send out password reminders. If you think there's no chance you could lose your password, then you don't have to fill these. You may also set these later, provided that you can login to the site or have access to the server settings file.</p>

		<label>SMTP Login</label>
		<p>Address from which you want to send mail from.</p>
		<input name="login" placeholder="postmaster@example.com" value="{{ .Mailer.Login }}">

		<br><br>

		<label>SMTP Password</label>
		<p>Password for the address you gave above.</p>
		<input name="password" value="{{ .Mailer.Password }}">

		<br><br>

		<label>SMTP Port</label>
		<p>Usually 587, but on some occasions it might be 25 instead.</p>
		<input name="port" value="587" value="{{ .Mailer.Port }}">

		<br><br>

		<label>SMTP Hostname</label>
		<p>SMTP server address.</p>
		<input name="smtp-hostname" placeholder="smtp.example.org" value="{{ .Mailer.Hostname }}">

		<br><br>

		<button type="submit">Submit</button>

	</fieldset>
</form>