<h1>Settings</h1>
<form method="post" action="/user/settings">
	<fieldset>

		<label>Allow new registrations</label>
		<p>Below you can choose whether you'd like disable registration for new users.</p>
		{{if eq .AllowRegistrations true}}
		<input type="radio" name="allowregistrations" value="true" checked> Allow registrations
		<br>
		<input type="radio" name="allowregistrations" value="false"> Disallow registrations
		{{else}}
		<input type="radio" name="allowregistrations" value="true"> Allow registrations
		<br>
		<input type="radio" name="allowregistrations" value="false" checked> Disallow registrations
		{{end}}

		<br><br>

		<label>Use Markdown instead of HTML</label>
		<p>Below you can choose whether you want to use <a href="http://daringfireball.net/projects/markdown/">Markdown</a> or plain HTML when creating and editing posts.</p>
		{{if eq .Markdown true}}
		<input type="radio" name="markdown" value="true" checked> Markdown
		<br>
		<input type="radio" name="markdown" value="false"> HTML
		{{else}}
		<input type="radio" name="markdown" value="true"> Markdown
		<br>
		<input type="radio" name="markdown" value="false" checked> HTML
		{{end}}

		<br><br>

		<label>Hostname</label>
		<p>The URL used to generate RSS and Atom links and any emails that link back to your site. This should be the absolute URL. Please include http:// or https:// and leave off any trailing forward slashes "/"</p>
		<input name="hostname" placeholder="http://example.com" required="required" value="{{.Hostname}}">

		<br><br>

		<label>Blog name</label>
		<p>This is the text people see on their browser tabs when visiting your homepage.</p>
		<input name="name" placeholder="Foo's Blog" required="required" value="{{.Name}}">

		<br><br>

		<label>Blog description</label>
		<p>Your beloved site's description. Used in RSS and Atom feeds.</p>
		<input name="description" placeholder="Thoughts about which witch is which" required="required" value="{{.Description}}">

		<br><br>

		<label>Mailgun domain</label>
		<p>Vertigo uses Mailgun to send out emails. Below you enter the domain from which you want to send mail from.</p>
		<input name="mgdomain" placeholder="example.com" required="required" value="{{.Mailer.Domain}}">

		<br><br>

		<label>Mailgun API key</label>
		<p>This is the key labeled as API key on https://mailgun.com/cp. This key is sometimes referenced as the private key.</p>
		<input name="mgprikey" placeholder="key-aaaaa-bbbbbbbbbbbbbbbbbbb" required="required" value="{{.Mailer.PrivateKey}}">

		<br><br>

		<button type="submit">Save</button>

	</fieldset>
</form>
