<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<article>
	<small>Posted on <time>{{date .Date}}</time></small>
	<h1>{{.Title}}</h1>
	{{unescape .Content}}
</article>