<form class="pure-form" method="post">
    <fieldset>
        <legend>Edit {{.Title}}</legend>

        <input name="title" placeholder="Title" value={{.Title}}>
        <textarea name="content">{{.Content}}</textarea>

        <button type="submit" class="pure-button pure-button-primary">Edit</button>
    </fieldset>
</form>