<link rel="stylesheet" href="/css/writing.css">
<form class="pure-form" method="post">
    <fieldset>

        <input name="title" placeholder="Title" value={{.Title}}>
        <textarea name="content">{{.Content}}</textarea>

    </fieldset>
</form>