<form class="pure-form" method="post">
    <fieldset>
        <legend>Create new post</legend>

        <input name="title" placeholder="Title">
        <textarea name="content"></textarea>

        <button type="submit" class="pure-button pure-button-primary">Post</button>
    </fieldset>
</form>