<h1>Your settings file seems to be missing some fields. Lets fix that.</h1>
<form method="post" action="/user/installation">
	<fieldset>

		<p>Fields with * are required.</p>

		<label>Allow new registrations</label>
		<p>You can change the preference once you have created first user by accessing settings from user home panel.</p>
		<input type="radio" name="allowregistrations" value="true" checked disabled> Allow registrations
		<br>
		<input type="radio" name="allowregistrations" value="false" disabled> Disallow registrations		

		<label>Hostname*</label>
		<p>Used in RSS feeds and any emails that link back to your site. It should be absolute URL. Please include http:// or https:// and leave off any trailing forward slashes "/"</p>
		<input type="url" name="hostname" placeholder="http://example.com" required="required">

		<br><br>

		<label>Blog name*</label>
		<p>Displayed on page header and browser tabs.</p>
		<input name="name" placeholder="Foo's Blog" required="required">

		<br><br>

		<label>Blog description*</label>
		<p>Your beloved site's description. Used on page header, meta data and RSS feeds.</p>
		<input name="description" placeholder="Thoughts about which witch is which" required="required">

		<br><br>

		<h3>SMTP settings</h3>
		<p>Vertigo can use SMTP to send out password reminders. You may skip everything below this if you think you can't lose your password.</p>
		
		<label>SMTP Login</label>
		<p>Address from which you want to send mail from.</p>
		<input name="mailerlogin" placeholder="postmaster@example.com" value="{{env "SMTP_LOGIN"}}">

		<br><br>

		<label>SMTP Password</label>
		<p>Password for the address you gave above.</p>
		<input type="password" name="mailerpassword" value="{{env "SMTP_PASSWORD"}}">

		<br><br>

		<label>SMTP Port</label>
		<p>Sometimes this might be 25 instead.</p>
		<input name="mailerport" value="587" value="{{env "SMTP_PORT"}}">

		<br><br>

		<label>SMTP Hostname</label>
		<p>SMTP server address.</p>
		<input name="mailerhostname" placeholder="smtp.example.org" value="{{env "SMTP_SERVER"}}">

		<br><br>

		<button type="submit">Submit</button>

	</fieldset>
</form>