<h1>Your settings file seems to be missing some fields. Lets fix that.</h1>
<form method="post" action="/user/installation">
	<fieldset>

		<label>Hostname</label>
		<p>The URL used to generate RSS and Atom links and any emails that link back to your site. This should be the absolute URL. Please include http:// or https:// and leave off any trailing forward slashes "/"</p>
		<input type="url" name="hostname" placeholder="http://example.com" required="required">

		<br><br>

		<label>Blog name</label>
		<p>This is the text people see on their browser tabs when visiting your homepage.</p>
		<input name="name" placeholder="Foo's Blog" required="required">

		<br><br>

		<label>Blog description</label>
		<p>Your beloved site's description. Used in RSS and Atom feeds.</p>
		<input name="description" placeholder="Thoughts about which witch is which" required="required">

		<br><br>

		<h3>SMTP settings</h3>
		<p>Vertigo can use SMTP to send out password reminders. Though if you think there's no chance you could lose your password, then you don't have to fill these. You can also set these on a later date, provided that you can login to the site or have access to the server root folder.</p>
		
		<label>SMTP Login</label>
		<p>Address from which you want to send mail from.</p>
		<input name="mailerlogin" placeholder="postmaster@example.com" value="{{env "SMTP_LOGIN"}}">

		<br><br>

		<label>SMTP Password</label>
		<p>Password for the address you gave above.</p>
		<input type="password" name="mailerpassword" value="{{env "SMTP_PASSWORD"}}">

		<br><br>

		<label>SMTP Port</label>
		<p>On some occasions this might be 25 instead.</p>
		<input name="mailerport" value="587" value="{{env "SMTP_PORT"}}">

		<br><br>

		<label>SMTP Hostname</label>
		<p>SMTP server address.</p>
		<input name="mailerhostname" placeholder="smtp.example.org" value="{{env "SMTP_SERVER"}}">

		<br><br>

		<button type="submit">Submit</button>

	</fieldset>
</form>