<h1>JSON API index</h1>
<h2>Users</h2>

<h3><a href="/api/users">GET /api/users</a></h3>
<p>Displays all users and their data</p>

<h3>GET /api/user/:id</h3>
<p>Displays data of a single user.</p>

<h3>POST /api/user</h3>
<p>Creates a new user. Required fields are email and password.</p>

<h3>POST /api/user/login</h3>
<p>Logins a user and if successful, returns session cookie. Required fields are email and password.</p>

<h2>Posts</h2>

<h3><a href="/api/posts">GET /api/posts</a></h3>
<p>Displays all posts</p>

<h3>GET /api/posts/:id</h3>
<p>Displays a single post</p>

<h3>POST /api/post</h3>
<p>Creates a new post. You must make this request with session cookie in place.</p>