<h1>JSON API index</h1>
<h2>Users</h2>

<h3><a href="/api/users">GET /api/users</a></h3>
<p>Displays all users and their data</p>

<h3>GET /api/user/:id</h3>
<p>Displays data of a single user.</p>

<h3>POST /api/user</h3>
<p>Creates a new user. Required parameters are email and password.</p>

<h3>POST /api/user/login</h3>
<p>Logins a user and if successful, returns session cookie. Required parameters are email and password.</p>

<h2>Posts</h2>

<h3><a href="/api/posts">GET /api/posts</a></h3>
<p>Displays all posts</p>

<h3>GET /api/posts/:id</h3>
<p>Displays a single post</p>

<h3>POST /api/post</h3>
<p>Creates a new post. Requires active session.</p>

<h3>GET /api/posts/:id/publish</h3>
<p>Publishes a post. Requires active session. Requires post slug as parameter.</p>

<h3>POST /api/posts/:id/edit</h3>
<p>Updates a post. Requires active session. Required parameters are slug, content and title.</p>

<h3>GET /api/posts/:id/delete</h3>
<p>Deletes a post. Requires active session. Requires post slug as parameter.</p>