<h2>Hello {{.Name}}</h2>
<a href="/post/new">Create new blog post</a>
<a href="/user/logout">Logout</a>

<!-- <form class="pure-form" action="/user/delete" method="post">
    <fieldset>
        <legend>A compact inline form</legend>
        <input type="password" name="password" placeholder="Password">
        <button type="submit" id="delete" class="pure-button pure-button-primary">Delete your account</button>
    </fieldset>
</form> -->

{{if .Posts}}
<h2>Posts</h2>
{{range .Posts}}
<li><a href="/post/{{.Slug}}">{{.Title}}</a> – {{.Date}}</li>
{{end}}
{{end}}