<form class="pure-form" action="/user/login" method="post">
    <fieldset>
        <legend>A compact inline form</legend>

        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
{{if .}}<h2>{{.}}</h2>{{end}}