<form method="post">
    <fieldset>
        <legend>Recover your account password</legend>

        <input type="email" name="email" placeholder="Email" required="required">

        <button type="submit">Submit</button>
    </fieldset>
</form>
