<form method="post">
    <fieldset>
        <legend>Reset your account password</legend>

        <input type="password" name="password" placeholder="New password" required="required">

        <button type="submit">Submit</button>
    </fieldset>
</form>
